/* ==========================================================================
   Table Form style
   ========================================================================== */

@import '../../../../../app/variables';

.TableForm {
  .DragDropTable {
    overflow: hidden;
    width: 100%;

    .DragDropItem {
      display: flex;

      &:focus-visible {
        outline: none;
      }

      & > div {
        background-color: #dddddd30;
        padding: 0.3rem 0.5rem;
        margin: 1px;
      }

      .DragDropItem-Drag {
        cursor: pointer;
      }

      .DragDropItem-Name,
      .DragDropItem-Description {
        padding: 1em 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .DragDropItem-Description {
        flex-grow: 1;
        width: 60rem;
      }

      .DragDropItem-Name {
        width: 20rem;
      }

      .MuiCheckbox-root {
        padding: 0;
      }

      .VisibilityAction,
      .DragDropItem-Drag,
      .RemoveAction {
        width: 3rem;
        text-align: center !important;

        svg {
          margin-top: 0.3rem;

          &:focus {
            outline: none;
          }
        }
      }

      .DragDropItem-Drag,
      .VisibilityAction,
      .RemoveAction {
        padding: 0.6rem;
      }
    }

    .GroupRow {
      & > div {
        background: $secondary-color;
        color: $anti-secondary-color;
      }

      .GroupRowTitle {
        display: flex;
        flex-grow: 1;

        .GroupEditName {
          margin-top: 0.3rem;
        }

        span {
          display: block;
          padding: 0.5rem 1rem !important;
        }

        .Separator {
          flex-grow: 1;
        }

        .MuiFormControl-root {
          margin-top: 0.3rem;

          .MuiOutlinedInput-root {
            color: inherit;

            .MuiInputAdornment-root {
              color: inherit;

              svg {
                cursor: pointer;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

            input {
              padding: 0.3rem 0.5rem;
            }

            fieldset {
              border-color: inherit;
              top: 0;

              legend {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .TableForm-Header {
    display: flex;
    margin-bottom: 1rem;

    .TableForm-Header-Left {
      flex-grow: 1;
    }

    .TableForm-Header-Right {
      button {
        margin-left: 0.5rem;
      }
    }
  }
}