{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block extrastyle %}
{% endblock %}

{% block render_bundle %}
    {% render_bundle 'AdminIndicatorList' %}
{% endblock %}

{% block scripts %}
    <script>
      urls.api = {
        'list': '{% url 'indicator-basic-list-api' %}',
        'create': '{% url 'admin-indicator-create-view' %}',
        'edit': '{% url 'admin-indicator-edit-view' 0 %}',
        'detail': '{% url 'indicator-detail-api' 0 %}',

        {# indicator specified url#}
        'form': '{% url 'indicator-value-form-manager' 0 %}',
        'map': '{% url 'indicator-value-mapview-manager' 0 %}',
        'ingestor': '{% url 'meta-ingestor-view' %}',
      }
    </script>
{% endblock %}