/* ==========================================================================
   Left-side panel
   ========================================================================== */

@import '../../variables.scss';

.dashboard__left_side {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  transition: left 0.3s;

  &.right {
    left: -15%;
  }

  .left-right-toggle-button {
    position: absolute;
    right: -23px;
    top: 5px;
    border-radius: 0 5px 5px 0;


    @include media(xsmall-only) {
      border-radius: 2px;
      background-color: white;
      color: $base-color;
      right: -30px;
      height: 0.8rem;
      width: 0.8rem;
      border: 1px solid $base-color;
      &.left,
      &.right {
        div {
          position: relative;

          &:after {
            left: 2px;
            position: absolute;
            top: -5px;
            content: '≡';
          }
        }
      }
    }
  }

  @include media(small-down) {
    width: 20%;
    &.right {
      left: -20%;
    }
  }

  @include media(xsmall-only) {
    height: 500px !important;
    max-height: 100vh;
    width: 50%;
    left: -50%;

    &.right {
      left: 0;
    }
  }
}
