/* ==========================================================================
   Left-side panel
   ========================================================================== */

@import '../../variables.scss';

.dashboard__left_side {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  transition: left 0.3s;

  &.right {
    left: -15%;
  }

  .left-right-toggle-button {
    position: absolute;
    right: -19px;
    top: 5px;
    border-radius: 0 5px 5px 0;


    @include media(xsmall-only) {
      border-radius: 2px;
      background-color: white;
      color: $base-color;
      right: -30px;
      height: 0.8rem;
      width: 0.8rem;
      border: 1px solid $base-color;
      &.left,
      &.right {
        div {
          position: relative;

          &:after {
            left: 2px;
            position: absolute;
            top: -5px;
            content: '≡';
          }
        }
      }
    }
  }

  @include media(small-down) {
    width: 20%;
    &.right {
      left: -20%;
    }
  }

  @include media(xsmall-only) {
    height: 500px !important;
    max-height: 100vh;
    width: 50%;
    left: -50%;

    &.right {
      left: 0;
    }
  }

  // For accordion
  .dashboard__content-wrapper {
    display: flex;
    flex-direction: column;

    > div.Mui-expanded {
      flex-grow: 1;
    }

    .MuiPaper-root {
      box-shadow: unset !important;
      display: flex;
      flex-direction: column;

      &:before {
        opacity: 1 !important;
      }
    }

    .MuiCollapse-hidden {
      height: 0 !important;
    }

    .MuiCollapse-root {
      flex-grow: 1 !important;
      overflow: auto;
      height: 0 !important;
    }

    .Mui-expanded {
      margin: 0 !important;
    }

    .MuiAccordionSummary-root {
      min-height: 0 !important;
      height: fit-content !important;
      padding: 1rem;
    }

    .MuiAccordionSummary-root.Mui-expanded {
      padding: 1rem 1rem 0.3rem 1rem;
    }

    .MuiAccordionSummary-content {
      margin: 0 !important;
    }

    .MuiPaper-root {
      border-radius: 0 !important;
    }
  }

  .basemap__box {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: $box-shadow;
    width: 100%;
    margin-bottom: 0.5 * $global-spacing;

    img {
      height: 100%;
      width: 100%;
      filter: grayscale(100%);
      object-fit: cover;
    }

    &:hover,
    &.selected {
      img {
        filter: grayscale(0);
      }
    }

    .basemap__box-inner {
      height: 100%;
      overflow: hidden;
      padding: 0.5 * $global-spacing;
    }

    .basemap__box-content {
      height: 100px;
    }
  }
}

.dashboard__left_side__row {
  display: flex;
  padding: 5px 0;

  .MuiCheckbox-root {
    align-items: baseline;
    padding: 0 5px 0 0;
  }

  .title {
    flex-grow: 1;
  }

  &.disabled {
    cursor: not-allowed;

    .text {
      opacity: 0.6;
    }
  }

  .legend table img {
    height: 20px;
    margin-right: 5px;
  }

  .toggler {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}