/* ==========================================================================
   Map Container
   ========================================================================== */

#map {
  height: 100%;
  width: 100%;
}

.dashboard__map {
  height: 100%;
  width: 100%;
}