/* ==========================================================================
   Right-side panel
   ========================================================================== */

@import '../../variables.scss';

.dashboard__right_side {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  transition: right 0.3s;

  &.left {
    right: -20%;
  }

  .left-right-toggle-button {
    position: absolute;
    left: -23px;
    top: 5px;
    border-radius: 5px 0 0 5px;
  }

  @include media(small-down) {
    width: 20%;
    &.left {
      right: -20%;
    }
  }
  @include media(xsmall-only) {
    box-shadow: unset !important;
    height: auto !important;
    position: relative;
    width: 100%;
  }
}
