/* ==========================================================================
   Dashboard specific style
   ========================================================================== */

@import '../../app/variables';

html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard {
  main {
    height: 100%;
    position: relative;
    width: 100%;

    @include media(small-down) {
      height: fit-content;
    }
  }

  .dashboard__panel {
    box-sizing: border-box;
    height: 100%;
    pointer-events: none;
    z-index: 1001;

    .dashboard__content-wrapper {
      background-color: white;
      box-shadow: $base-shadow-box;
      width: 100%;
    }

    > div {
      pointer-events: auto;
    }
  }

  .dashboard__content {
    background-color: #eee;
    padding: 10px 10px 5px 10px;
  }
}