/* ==========================================================================
   Table style
   ========================================================================== */

@import '../../../../app/variables';

.AdminList {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;

  .MoreActionIcon {
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .AdminTable {
    height: 100%;
    width: 100%;
  }

  .AdminTableDelete {
    color: $error;
  }

  .AdminTable-Loading {
    padding: 1rem;
  }
}
