{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-bottom">
    <a class="navbar-brand mr-auto" href="/">
        <img src="{% if preferences.icon %}{{ preferences.icon }}{% endif %}">
        <div class="title">{{ preferences.site_title }} {% if page_title %} -
            {{ page_title }}{% endif %}</div>
    </a>
    <div class="navigation-list row">
        {% if links %}
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Links <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    {% for link in links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}{% else %}
                        {{ user.get_username }}{% endif %} <i
                        class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    <li>
                        <a href="{% url 'logout' %}?next=/">{% trans "Logout" %}</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="header-section">
                            Staff section
                        </li>
                        <li>
                            <a href="{% url 'admin:index' %}">{% trans "Django Admin" %}</a>
                        </li>
                        <li>
                            <a href="{% url "backups-view" %}">{% trans "Backups" %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="header-section">
                            Management
                        </li>
                        <li>
                            <a id="nav-indicator-management"
                               href="{% url "indicator-management-view" %}"
                               class="nav row" title="Indicator Management">
                                <table>
                                    <tr>
                                        <td class="icon"><i
                                                class="fa fa-th-list"
                                                aria-hidden="true"></i></td>
                                        <td>Indicator</td>
                                        <td class="right-icon"><a
                                                href="{% url "indicator-management-new" %}"><i
                                                class="fa fa-plus-circle"
                                                aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="navbar-options">
                <a href="{% url "login" %}">
                    Sign In
                </a>
            </div>
        {% endif %}
    </div>
</nav>