{% extends '_base.html' %}
{% load static %}
{% load indicator_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet"
          type="text/css" media="screen, projection"/>
{% endblock %}

{% block content_title %}
    Select Dashboards
    {% if user.is_authenticated %}
        <a href="{% url "dashboard-create-view" %}">
            <button class="white-button pull-right">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                New Dashboard
            </button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not dashboards %}
        <div>
            <h4>You don't have any dashboard</h4>
        </div>
    {% else %}
        <div id="dashboard" class="row">
            {% for dashboard in dashboards %}
                <div class="dashboard box-shadow-bottom">
                    <a href="{{ dashboard.url }}">
                        <img src="{% if dashboard.icon %}
                            {{ dashboard.icon }}{% else %}{% static "img/no-image.jpeg" %}
                        {% endif %}">
                        <span class="dashboard-title">{{ dashboard.name }}</span>
                        <span class="dashboard-description">{{ dashboard.description }}</span>
                    </a>
                    {% if dashboard.can_edit %}
                        <a href="{% url 'dashboard-edit-view' dashboard.slug %}" class="edit-button">
                            <i class="fa fa-cog"
                               aria-hidden="true">
                            </i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}