/* ==========================================================================
   Map COnfig style
   ========================================================================== */

@import '../../../../../app/variables';

#MapConfig {
  height: 500px;

  .leaflet-draw {
    span {
      display: none;
    }
  }
}

.BasicForm {
  padding: 0 !important;
}