/* -------------------------------------------------------------------
   MODALS
  ------------------------------------------------------------------- */

@import '../../app/variables';

.MuiModal-root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal--box {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .3rem;
  height: fit-content;
  margin: 1.75rem auto;
  max-width: 500px;
  min-width: 40rem;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  width: auto;

  &:focus-visible {
    outline: none;
  }

  @include media(xsmall-only) {
    max-width: unset;
  }
}

.modal--header {
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;

  .modal--header--title {
    flex-grow: 1;
    padding-top: 3px;
  }
}

.modal--content {
  padding: 20px;
  overflow-x: auto;
}

.modal--footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  overflow-x: auto;
}