/* ==========================================================================
   Indicator Form style
   ========================================================================== */

@import '../../../../app/variables';

.RuleTable-Title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#RuleTable {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: left;

  th {
    padding: 0.5rem;
  }

  .RuleTable-Header {
    border-bottom: none !important;

    th {
      font-weight: 500;
    }
  }

  .RuleTable-Help {
    color: gray;
    border-top: none !important;
    font-size: 0.8rem;

    ul {
      padding-left: 1rem;
      margin: 0;
    }

    th {
      font-weight: inherit;
    }
  }

  tr {
    border: 1px solid $primary-color;
    border-bottom: none;
  }

  tbody {
    td {
      padding: 0.5rem 1rem 0.5rem 0;
    }

    .RemoveButton {
      margin-left: 0.5rem;
      cursor: pointer;
    }

    .IndicatorRuleValue {
      display: none;
    }

    .RuleSectionCell {
      display: flex;

      input {
        width: 100px;
      }
    }

    .RuleSection {
      background: $base-almost-white-color;
      border: 1px solid $base-almost-gray-color;
      display: flex;
      height: 2.8rem;
      overflow: hidden;
      border-radius: $border-radius;

      input {
        border: none;
        padding-right: 0 !important;

        &:disabled {
          background: $base-almost-white-color;
          cursor: not-allowed;
        }
      }

      .RuleSectionSymbol {
        border-right: 1px solid #ccc;
        padding: 10px 5px;
      }

      .RuleSectionSymbolLeft {
        border-left: 1px solid #ccc;
      }
    }

    .OrSection {
      border: none;
      background: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .RuleSectionSymbol {
        border-right: none;
      }
    }

    .RuleSectionColor {
      border: 1px solid $base-almost-gray-color;
      border-radius: $border-radius;
      display: flex;

      input[type="text"] {
        border: none;
        border-right: 1px solid $base-almost-gray-color;
        flex-grow: 1;
        min-width: 3rem;
      }

      .RuleSectionColor-Preview {
        height: 2.9rem;
        min-height: 2.9rem;
        width: 2.9rem;
        min-width: 2.9rem;
      }

      input[type="color"] {
        -webkit-appearance: none;
        cursor: pointer;
        border: none;
        padding: 0;
        height: 100%;
        width: 100%;
      }

      input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0.3rem;
      }

      input[type="color"]::-webkit-color-swatch {
        border: none;
      }
    }

    input {
      padding: 0.8rem 0.5rem;
    }

    .IndicatorRule-Add {
      border: 1px solid $secondary-color;

      td {
        padding: 0;
        border: none !important;

        button {
          width: 100%;
          border-radius: 0;
        }
      }
    }

    .IndicatorRule-Divider {
      border-top: none;

      td {
        height: 1rem;
      }
    }
  }
}