/* -------------------------------------------------------------------
   Used for global theme element
  ------------------------------------------------------------------- */

@import '../global.scss';

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: auto;
  overflow: hidden;
}

.page__header {
  z-index: 1001;
}

// MODALS
.modal--box {
  position: absolute;
  top: 20px;
  left: 50%;
  border-radius: .3rem;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  background-clip: padding-box;
  transform: translate(-50%, 0);

  &:focus-visible {
    outline: none;
  }
}

.modal--header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal--content {
  margin: auto;
  padding: 10px 20px;
}