/* -------------------------------------------------------------------
   Core of css
  ------------------------------------------------------------------- */

@import '../global.scss';

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: auto;
}

main {
  overflow-y: auto;
}

.page__header {
  z-index: 1001;
}