/* ==========================================================================
   Dashboard specific style
   ========================================================================== */

@import '../global.scss';

.dashboard {
  main {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .dashboard__panel {
    background-color: white;
    box-shadow: $base-shadow-box;
    height: 100%;
    position: absolute;
    z-index: 1000;

    .dashboard__content {
      padding: $global-spacing;
    }
  }
}

.dashboard {
  .left-right-toggle-button {
    background: $base-color;
    cursor: pointer;
    height: 30px;
    padding: 3px 3px 0 0;
    width: 20px;
    color: $base-color-reverse;
  }
}