/* ==========================================================================
   Dashboard specific style
   ========================================================================== */

@import '../variables.scss';

.dashboard {
  main {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .dashboard__panel {
    background-color: white;
    box-shadow: $base-shadow-box;
    height: 100%;
    z-index: 1001;

    .dashboard__content {
      padding: $global-spacing;
    }
  }
}
