/* ==========================================================================
   Globals
   That being used for global elements
   ========================================================================== */

@import '../global.scss';

body {
  margin: 0;
}

html {
  font-size: $root-font-size;
}

body {
  background: #fff;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: 320px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  opacity: $base-hovered-opacity;
}

// MODALS
.modal--box {
  position: absolute;
  top: 20px;
  left: 50%;
  border-radius: .3rem;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #fff;
  background-clip: padding-box;
  transform: translate(-50%, 0);

  &:focus-visible {
    outline: none;
  }
}

.modal--header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal--content {
  margin: auto;
  padding: 10px 20px;
}