{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ preferences.favicon }}"
          type="image/x-icon">
    <title>{{ preferences.site_title }} : {{ page_title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
          rel="stylesheet">

    <link href="{% static 'libs/bootstrap/4.5.2/bootstrap.min.css' %}"
          rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"
          rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/jquery-ui/1.12.1/jquery-ui.css' %}"
          rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"
          media="screen, projection"/>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css"
          media="screen, projection"/>

    <style>
        :root {
            --primary-color: {{ preferences.primary_color }};
            --secondary-color: {{ preferences.secondary_color }};
        }
    </style>

    <script type="text/javascript"
            src="{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/bootstrap/4.5.2/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>

    {% block stylesheet %}
    {% endblock %}
    <style>
        {% if preferences.background_image %}
            #page {
                background: url("{{ preferences.background_image }}") no-repeat;
                background-size: 100%;
            }
        {% endif %}
    </style>
</head>
<script>
  const preferences = {{ preferences|safe }};
</script>
<body class="body">
{% include "_navbar.html" %}

<div id="page">
    <div id="inner-container">
        {% block container %}
            <div id="container" class="container">
                <div id="content-view"
                     class="container-page box-shadow-bottom">
                    {% if content_title %}
                        <div class="header">
                            {% block content_title %}
                                {{ content_title|safe }}
                            {% endblock %}
                        </div>
                    {% endif %}
                    <div class="container-page-content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>