/* ==========================================================================
   Bootstrap
   ========================================================================== */
@import './global.scss';

button {
  border: unset;
  background: $base-color;
  color: $base-color-reverse;
  padding: 3px 5px;
}

.MuiButton-primary {
  background-color: $base-color !important;
  border-color: $base-color !important;
  color: $base-color-reverse !important;
}