/* -------------------------------------------------------------------
   Used for global theme element
  ------------------------------------------------------------------- */

@import './variables.scss';

html, body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}


.left-right-toggle-button {
  background: $primary-color;
  cursor: pointer;
  height: 30px;
  padding: 0.2rem 0.3rem;
  color: $anti-primary-color;

  div {
    height: 1rem;
    width: 0.6rem;
  }

  div:after {
    font-size: 12px;
  }

  @include media(xsmall-only) {
    div:after {
      font-size: 16px;
    }
  }

  &.left {
    div:after {
      content: '◀';
    }
  }

  &.right {
    div:after {
      content: '▶';
    }
  }
}