/* -------------------------------------------------------------------
   Used for global theme element
  ------------------------------------------------------------------- */

@import './variables.scss';

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: auto;
  overflow: hidden;

  @include media(xsmall-only) {
    min-height: 100vh;
    display: block;
    overflow-y: auto;
  }
}

// MODALS
.MuiModal-root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal--box {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .3rem;
  height: fit-content;
  margin: 1.75rem auto;
  max-width: 500px;
  min-width: 40rem;
  overflow: hidden;
  position: relative;
  transform: translate(0, 0);
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  width: auto;

  &:focus-visible {
    outline: none;
  }

  @include media(xsmall-only) {
    max-width: unset;
  }
}

.modal--header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal--content {
  padding: 20px;
  overflow-x: auto;
}

.left-right-toggle-button {
  background: $base-color;
  cursor: pointer;
  height: 30px;
  padding: 0.2rem 0.3rem;
  color: $base-color-reverse;

  div {
    height: 1rem;
    width: 0.6rem;
  }

  div:after {
    font-size: 12px;
  }

  @include media(xsmall-only) {
    div:after {
      font-size: 16px;
    }
  }

  &.left {
    div:after {
      content: '◀';
    }
  }

  &.right {
    div:after {
      content: '▶';
    }
  }
}