/* ==========================================================================
   Globals
   That being used for global elements
   ========================================================================== */

@import './variables.scss';

:root {
  font-size: $root-font-size;
}

/* SCROLL */
/* --------------------------------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: $base-color;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* --------------------------------- */

html {
  font-size: $root-font-size;
}


body {
  margin: 0;
  background-color: #eee;
  color: $base-black-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
}


button {
  background: $base-color;
  border: unset;
  color: $base-color-reverse;
  font-size: $base-font-size !important;
  line-height: $base-line-height !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  opacity: $base-hovered-opacity;
}

b.light {
  font-weight: 500 !important;
}

.leaflet-popup-content {
  margin: 0;

  .table__header {
    padding: 5px 25px;
    text-align: center;
  }

  .table__content {
    max-height: 200px;
    overflow-y: auto;

    table {
      margin: 0;
      padding: 0;
      border-spacing: 0;


      td:first-child {
        padding: 5px 5px 5px 10px;
        text-align: right;
      }

      td:last-child {
        padding: 5px 10px 5px 5px;
      }
    }
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}

textarea {
  box-sizing: border-box;
  border: 1px solid $base-color;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;

  &:focus-visible {
    outline: none;
  }

  &.error {
    border: 1px solid $error;
  }
}

.leaflet-overlay-pane {
  z-index: 400 !important;
}

.error {
  color: red;
}