/* ==========================================================================
    Materialize
   ========================================================================== */
@import './variables.scss';


.MuiList-root {
  padding: 0 !important;
}

.MuiButton-root {
  text-transform: unset !important;

  &:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}

.MuiButton-primary {
  background-color: $base-color !important;
  border-color: $base-color !important;
  color: $base-color-reverse !important;
}
