/* ==========================================================================
    Materialize
   ========================================================================== */
@import './variables.scss';


.MuiList-root {
  padding: 0 !important;
}

.MuiButton-root {
  text-transform: unset !important;
  padding: 0.5rem 1rem !important;

  &:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
    opacity: 0.5;

    &:hover {
      opacity: 0.5
    }
  }

  &:hover {
    opacity: $base-hovered-opacity;
  }
}

.MuiButton-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: $anti-primary-color !important;
}

.MuiButton-secondary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $anti-secondary-color !important;
}

.MuiListSubheader-root {
  color: $primary-color !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.MuiAccordionSummary-title {
  flex-grow: 1;
}

.MuiButtonLike {
  cursor: pointer;

  &:hover {
    opacity: $base-hovered-opacity;
  }
}

.MuiBox-Large {
  .modal--box {
    max-width: 90%;
  }
}

.MuiMenuItem-root {
  padding: 0 !important;
  a {
    display: block;
    padding: 6px 16px;
    width: 100%;
  }
}

/* ==========================================================================
    Select with search
   ========================================================================== */
.MuiAutocomplete-root {
  .MuiFormControl-root {
    margin-top: 0 !important;

    .MuiOutlinedInput-root {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 40px !important;
      padding-left: 0 !important;

      .MuiAutocomplete-input {
        padding: 0;
      }
    }

    .MuiAutocomplete-endAdornment {
      right: 0 !important;
    }
  }

  .MuiButtonBase-root {
    border-radius: 5px;
  }
}

/* ==========================================================================
    MUI Data Grid
   ========================================================================== */

.MuiDataGrid-root {
  border: none !important;

  div {
    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none !important;
    }
  }

  .MuiDataGrid-columnHeader {
    color: $primary-color;

    .MuiButtonBase-root {
      color: $primary-color;
    }

    .MuiDataGrid-columnHeaderTitle {
      font-weight: 600 !important;
    }
  }

  .MuiDataGrid-columnSeparator {
    display: none !important;
  }

  .MuiDataGrid-row:hover {
    background-color: $base-almost-white-color !important;
  }

  .MuiDataGrid-columnHeader,
  .MuiDataGrid-cell {
    padding: 0 1rem !important;
  }

  .MuiDataGrid-cell {
    a {
      color: inherit;
      display: block;
      height: 20px !important;
      width: 20px !important;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
