{% extends '_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/admin/form.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block content %}
    <div id="content">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header">
                {% if content_title %}
                    {{ content_title|safe }}
                {% else %}
                    {{ page_title|safe }}
                {% endif %}
                <div class="pull-right">
                    <button id="submit" class="white-button">Submit</button>
                </div>
            </div>
            <div id="content-view">
                <div class="section">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
