{% extends 'frontend/base.html' %}
{% load render_bundle from webpack_loader %}
{% block extrastyle %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
{% endblock %}
{% block render_bundle %}
    {% render_bundle 'Dashboard' %}
{% endblock %}
{% block scripts %}
    <script>
      const definition = {{ definition|safe }};
      let editMode = {% if edit_mode %} true {% else %} false {% endif %};
      if (editMode) {
        urls = Object.assign({}, urls, {
          'basemapListAPI': '{% url 'basemap-list-api' %}',
          'indicatorListAPI': '{% url 'indicator-list-api' %}',
          'contextLayerListAPI': '{% url 'context-layer-list-api' %}',
        })
      }
    </script>
{% endblock %}