/* ==========================================================================
   Navbar
   ========================================================================== */

@import '../global.scss';

.page__header {
  background-color: $navbar-background-color;
  height: 30px;
  padding: ($global-spacing * 0.5) $global-spacing;
}

.page__header-menu {
  color: $navbar-font-color;
  display: flex;
  flex: 1;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    color: $navbar-font-color;
    text-underline: none;

    &:hover {
      opacity: 1;
    }
  }

  li {
    padding: 2px $global-spacing 0 0;

    &:last-child {
      margin: 0 0 0 auto;
    }
  }

  .sign-in {
    cursor: pointer;

    &:hover {
      opacity: $base-hovered-opacity;
    }
  }

  button {
    margin-top: -5px;
    border: unset;
    font-weight: 300;
    padding: 0;
    color: white;

    &:active,
    &:focus-visible,
    &:focus,
    &:hover {
      background: none;
      border: unset;
      box-shadow: unset;
    }
  }
}

.page__header-logo {
  padding-right: 0.3rem !important;

  img {
    height: 100%;
    margin-top: -4px;
  }
}

.page__header-title {
  font-weight: 600;
}

.MuiMenuItem-root {
  a, a:link, a:visited, a:hover, a:active {
    color: $base-color;
    font-weight: 300;
  }
}