/* ==========================================================================
   Navbar
   ========================================================================== */

@import '../variables.scss';

.page__header {
  background-color: $navbar-background-color;
  height: 2rem;
  padding: ($global-spacing * 0.5) $global-spacing;
  z-index: 1001;

  @include media(xsmall-only) {
    height: 1.8rem;
  }
}

.page__header-menu {
  color: $navbar-font-color;
  display: flex;
  flex: 1;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    color: $navbar-font-color;
    text-underline: none;

    &:hover {
      opacity: 1;
    }
  }

  button {
    border: unset;
    color: white;
    font-weight: 300;
    padding: 0;
    margin-top: -0.2rem;

    &:active,
    &:focus-visible,
    &:focus,
    &:hover {
      background: none;
      border: unset;
      box-shadow: unset;
    }

    &:hover {
      opacity: 0.8;
    }

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  li {
    padding: 0.2rem $global-spacing 0 0;
  }

  .page__header-title {
    margin: 0 auto 0 0;

    button {
      min-width: unset;
    }
  }
}

.page__header-logo {
  padding-right: 0.3rem !important;

  img {
    height: 73%;
  }
}