/* ==========================================================================
   Modal Login
   ========================================================================== */

.modal__login {
  .modal__login__submit {
    margin-top: 20px;
    width: 100%;
  }

  .MuiInput-root {
    width: 100%;
  }

  .modal__login__token {
    display: none !important;
  }
}