/* ==========================================================================
   Right-side panel
   ========================================================================== */

@import '../../app/variables';

.widget {
  background-color: #F6F8FA;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;

  > div {
    padding: 0.5rem;
  }

  .MuiSvgIcon-root {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .widget__fill {
    min-height: 2rem;

    > .widget__error {
      text-align: center;
    }
  }

  .widget__info {
    border-top: 0.5px solid rgba(0, 0, 0, 0.12);

    .widget__info__content {
      text-align: center;
      color: #555;
      font-style: italic;
    }
  }
}

.widget__content {
  margin-top: 5px;
  overflow-y: auto;
}

.widget__sw {
  text-align: center;

  .widget__sw__title {
    color: $base-font-color;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.widget__sgw {
  table {
    text-align: left;
    width: 95%;
  }

  .widget__sgw__row__name {
    width: 1%;
  }

  .widget__sgw__row {
    div {
      background-color: $base-color;
      color: white;
      padding: 3px 5px;
    }
  }
}

.widget__error {
  color: red;
}