/* ==========================================================================
   Right-side panel
   ========================================================================== */

@import '../../app/variables';

.widget {
  display: flex;
  padding: 0.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
}