/* ==========================================================================
   Filter style
   ========================================================================== */

@import '../../../../app/variables';

.FilterAccordion {
  height: 100%;

  .MuiAccordionDetails-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.dashboard__filter {
  margin-bottom: 1rem;

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .info__button {
    height: 25px;
    width: 25px;

    .MuiSvgIcon-root {
      height: 100%;
      width: 100%;
    }
  }
}

.dashboard__filter__content {
  padding-left: 1rem;
}

/* ==========================================================================
   FILTERS CONTROL COMPONENT
   ========================================================================== */
.FilterControl {
  padding: 0 8px 16px;
  font-size: 0.8rem;
  flex-grow: 1;
  overflow-y: auto;

  .FilterGroup {
    border: 1px solid $base-color;
    margin-top: 15px;
    padding: 15px 5px 5px 5px;
    position: relative;

    .MuiPaper-root {
      margin-top: 5px !important;
      margin-bottom: 0 !important;
    }

    .FilterGroupOption {
      height: 18px;
      position: absolute;
      top: -7px;
      left: 0;
      width: 100%;
      display: flex;

      .FilterGroupName {
        flex-grow: 1;
      }

      .FilterGroupEnd {
        width: 5px;
      }

      .MuiButtonLike {
        color: $base-color;
        background: white;
        height: 0.8rem;
        width: 18px;

        &:hover {
          opacity: 1;
          color: #555;
        }
      }

      .FilterGroupDelete {
        color: $error;
      }

      .FilterOperatorToggler {
        color: white;
        padding: 2px 10px;
        margin-left: 10px;
        font-size: 12px;
        margin-top: -2px;
        background: $base-color;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .FilterNote {
    color: $base-black-color;
    font-style: italic;
    opacity: $base-hovered-opacity;
  }

  .MuiPaper-root {
    .MuiCollapse-vertical {
      height: auto !important;
    }

    &::before {
      display: none;
    }
  }

  .FilterExpression {
    background: none;

    .FilterExpressionName {
      flex-grow: 1;
    }

    .FilterExpressionDescription {
      margin-top: 0.5rem;
      font-style: italic;
    }

    .MuiAccordionSummary-root {
      background: $base-to-white-color;
      padding: 5px !important;
      border: 1px solid #ddd;
      margin-top: -1px;

      &.Mui-focusVisible {
        background: #ddd !important;
      }

      .MuiCheckbox-root {
        padding: 0;
        margin-right: 5px;

        svg {
          background-color: white;
          border: 1px solid #ddd;
        }
      }

      .MuiSwitch-root {
        margin-top: -3px;
        margin-right: 3px;
      }

      .FilterEdit,
      .FilterDelete {
        margin-top: 2px;
      }

      .FilterDelete {
        color: $error;
        margin-right: 5px;
      }

      .MuiSvgIcon-root {
        height: 0.8rem;
        width: 0.8rem;
      }
    }

    .MuiAccordionDetails-root {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: -1px;
    }
  }

  .FilterInputWrapperChanged {
    .MuiSvgIcon-root {
      color: green !important;
    }
  }

  .FilterInputWrapper {
    display: flex;
    margin-top: 5px;
    width: 100%;
    border: 1px solid $base-color;

    .MuiSvgIcon-root {
      color: #ddd;
      margin: 7px 3px;
      width: 16px;
    }

    .MuiOutlinedInput-root {
      .MuiSelect-select {
        padding: 0;
      }

      fieldset {
        display: none;
      }

      .MuiSvgIcon-root {
        margin: 0;
      }
    }
  }

  .FilterInput {
    padding: 2px 5px;
    flex-grow: 1;

    &::before,
    &::after {
      display: none;
    }
  }
}

.FilterEditModal {
  .MuiFormControl-root {
    margin-top: 0 !important;
  }

  .MuiInput-root {
    margin-bottom: 2rem;
    width: 100%;
  }

  .FilterEditModalQuery {
    display: flex;
    background: $base-alpha-color;
    padding: 10px;

    .MuiOutlinedInput-root {
      background-color: white;
    }

    .MuiInput-root {
      background-color: white;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      padding: 16.5px 14px;
      margin-bottom: 0 !important;

      &::before {
        display: none;
      }
    }

    .MuiAutocomplete-root {
      flex-grow: 1;

      .MuiOutlinedInput-root {
        padding-left: 5px !important;
        min-height: 56px;
      }
    }
  }

  .MuiButton-root {
    margin-top: 20px;
    width: 100%;
  }
}

/* ==========================================================================
   FILTERS CONTROL SUMMARY
   ========================================================================== */
.FilterControlSummary {
  margin-top: 20px;
  max-height: 5rem;
  border-top: 1px solid #DDD;
  overflow: auto;
  font-size: 0.8rem;
  padding: 10px;

  .FilterControlSummaryContent {
    border: 1px solid $base-color;
  }
}