/* ==========================================================================
   Filter style
   ========================================================================== */

@import '../../../../app/variables';

.dashboard__filter {
  margin-bottom: 1rem;

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .info__button {
    height: 25px;
    width: 25px;

    .MuiSvgIcon-root {
      height: 100%;
      width: 100%;
    }
  }
}

.dashboard__filter__content {
  padding-left: 1rem;
}

/* ==========================================================================
   Edit style
   ========================================================================== */
.modal__filter__setting {
  .MuiInput-root {
    width: 100%;
  }

  .modal--box {
    max-width: 1000px;
  }

  .MuiFormControl-root {
    margin-top: 0 !important;
    margin-bottom: 1rem;
  }

  .section {
    margin-bottom: 1rem;

    b {
      color: $base-color;
      display: block;
      margin-bottom: 0.5rem;
    }

    .content {
      background: $base-alpha-color;
      border-radius: 5px;
      padding: 10px;

      .section__divider {
        padding: 17px 10px 0 10px;
      }
    }
  }

  .preview {
    b {
      color: $base-black-color;
      text-align: center;
    }
  }

  .save__button {
    width: 100%;
    margin-top: 1rem;
  }

  .filter__button {
    color: $base-color;
    border: 1px solid $base-color;
  }

  .MuiSelect-select {
    background-color: white;
    border: 1px solid $base-color;
    color: $base-color;
  }

  .MuiSvgIcon-root {
    color: $base-color;
  }

  .MuiInputBase-empty {
    .MuiSelect-select {
      background-color: white;
      border: 1px solid $base-black-color;
      color: $base-black-color;
    }

    .MuiSvgIcon-root {
      color: $base-black-color;
    }
  }

  .section__wrapper {
    display: flex;

    .content {
      display: flex;
    }

    .content:last-child {
      flex-grow: 1;
    }

    .section__divider {
      padding: 26px 10px 0 10px;
    }
  }

  .section__delete {
    color: red;
    cursor: pointer;
    padding: 26px 10px 0 0;
  }
}