/* ==========================================================================
   Submit
   ========================================================================== */

@import '../../../app/variables';

#dashboard_save {
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 1000;

  button {
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  #dashboard_save__error {
    background: white;
    border: 1px solid red;
    color: red;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50%;
    padding: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }

  #dashboard_save__error.hide {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  #dashboard_save__error.show {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.dashboard__submit__modal {
  .MuiInput-root {
    width: 100%;
  }

  .IconInput {
    .MuiInputLabel-root {
      position: unset;
    }

    .IconInputPreview {
      display: flex;
      margin-bottom: 1rem;

      .MuiInput-root {
        height: fit-content;
        margin-top: auto;
        margin-right: 10px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);

        input {
          opacity: 0;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      img {
        height: 100px;
      }
    }
  }
}