<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="No description yet."/>
    <title>Gis-geo Analytics Platform (GAP) Dashboard</title>
    <meta name="description"
          content="Gis-geo Analytics Platform (GAP) Dashboard."/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rubik:300,300i,500,500i"/>

    {% block extrastyle %}
    {% endblock %}
</head>
<body>

<div id="app"></div>
{% block render_bundle %}
{% endblock %}
</body>
</html>
